{% load static %}
{% include 'Inc/header.html' %}

<div class="ui container">
    <h1 style="text-align: center;">Estás cargando el Salario esperado de: {{ info_emp.nombre_emp }}</h1>
    <form action="" method="POST" class="ui form">
        {% csrf_token %}
        <div class="field">
            <label for="">Nombre del Empleado: {{ info_emp.nombre_emp}} {{ info_emp.apellido_emp }}</label>
            <input type="text" name="id" id="id" value="{{ info_emp.id }}">
        </div>
        <div class="field">
            <label for="">ID del Cargo: </label>
            <input type="text" name="cargo_id" id="cargo_id" value="{{ info_emp.cargo_id }}">
        </div>
        <button type="submit" class="ui inverted green button">Guardar Planilla del Empleado</button>
    </form>
</div>

{% include 'Inc/footer.html' %}