{% load static %}
{% include 'Inc/header.html' %}

<div class="ui container">

    <h1 style="text-align: center;">Listado de Información sobre los Empleados</h1>

    <div class="field">

        <table class="ui green celled table">
            <thead>
                <tr>
                    <th>Nombre Completo</th>
                    <th>Género</th>
                    <th>Celular</th>
                    <th>Correo</th>
                    <th>Departamento</th>
                    <th>Nro. Documento</th>
                    <th>Cuenta Bancaria</th>
                    <th>Tipo de Cuenta</th>
                    <th>Cargo del Empleado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for c in empleados %}
                <tr>
                    <td>{{ c.1 }} {{ c.2 }}</td>
                    <td>{{ c.3 }}</td>
                    <td>{{ c.4 }}</td>
                    <td>{{ c.5 }}</td>
                    <td>{{ c.6 }}</td>
                    <td>{{ c.7 }}</td>
                    <td>{{ c.8 }}</td>
                    <td>{{ c.9 }}</td>
                    <td>{{ c.10 }}</td>
                    <td>
                        <a href="#" onclick="borrarEmpleado('{{ c.0 }}')"><i class="trash alternate outline icon"></i></a>
                        <a href="#" onclick="editarEmpleado('{{ c.0 }}')"><i class="pencil alternate icon"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

</div>

{% include 'Inc/footer.html' %}


<script>
    function borrarEmpleado(idempleado) {
        swal({
            title: "¿Está seguro que desea borrar?",
            text: "La informacion que borres NO se puede recuperar.",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    swal("La información NO se puede borrar ACTUALMENTE.");
                } else {
                    swal("Has cancelado el borrado.");
                }
            });
    }
</script>

<script>
    function editarEmpleado(idempleado) {
        swal({
            title: "¿Está seguro que desea editar el registro?",
            text: "La informacion que edites tendra el último valor asignado.",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    swal("La informacion NO se puede editar ACTUALMENTE.");
                } else {
                    swal("Has cancelado la edición.");
                }
            });
    }
</script>

<script src='{% static "js/sweetalert.min.js" %}'>

</script>