{% load static %}
{% include 'Inc/header.html' %}

<div class="ui container">

    <h1 style="text-align: center;">Listado de Cargos Registrados</h1>

    <table class="ui green celled table">
        <thead>
            <tr>
                <th>Nombre del Cargo</th>
                <th>Salario del Cargo</th>
                <th>Turno Laboral</th>
                <th>Rotacion Laboral</th>
                <th>Descripcion del Cargo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for c in cargos %}
            <tr>
                <td>{{ c.nombre }}</td>
                <td>{{ c.salario }}</td>
                <td>{{ c.turno_laboral }}</td>
                <td>{{ c.rotacion_laboral }}</td>
                <td>{{ c.descripcion }}</td>
                <td>
                    <a href="#" onclick="borrar('{{ c.id }}')"><i class="trash alternate outline icon"></i></a>
                    <a href="#" onclick="editar('{{ c.id }}')"><i class="pencil alternate icon"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% include 'Inc/footer.html' %}


<script>
    function borrar(id) {
        swal({
            title: "Esta seguro que desea borrar?",
            text: "La informacion que borres NO se puede recuperar.",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                        location.href = "/Cargo/Listado/Borrar/"+id;
                } else {
                    swal("La informacion no se ha borrado.");
                }
            });
    }
</script>

<script>
    function editar(id) {
        swal({
            title: "Esta seguro que desea editar el registro?",
            text: "La informacion que edites tendra la informacion del ultimo registro.",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                        location.href = "/Cargo/Listado/Edicion/"+id;
                } else {
                    swal("La informacion no se ha editado.");
                }
            });
    }
</script>


<script src='{% static "js/sweetalert.min.js" %}'>

</script>
